@import "../../assets/mixin.scss";
@import "../../assets/variables.scss";

.mobile__navigation {
  display: none;
}
//logo
.brand__logo {
  object-fit: contain;
  height: 60px;
  width: 80px;
}

@media (max-width: $screen-lg-min) {
  .mobile__navigation {
    @include flex-between;
    transition: 1s;
    width: 100%;
  }
  .hamburgher {
    color: $fourthColor;
    font-size: 30px;
    cursor: pointer;
  }

  .cross__button {
    color: $fourthColor;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    right: 25px;
    top: 20px;
  }

  .clicked__mobile__navigation {
    animation-duration: 1s;
    height: fit-content;
    transition: 1s;
  }
}
