@import "../../assets/mixin.scss";
@import "../../assets/variables.scss";
// nav links
.nav__links {
  @include flex-between;
  z-index: 10;
  li {
    color: $fourthColor;
    a {
      color: $fourthColor;
      transition: 0.4s;
      &:hover {
        color: $firstColor;
        transition: 0.4s;
      }
    }
  }
  .nav__links__user__logged {
    margin-right: 60px;
    display: flex;
    @media (max-width: $screen-lg-min) {
      margin-right: 0px;
    }
    p {
      margin-left: 10px;
    }
    > svg {
      margin-right: 10px;
      color: $fourthColor;
    }
  }
  @media (max-width: $screen-lg-min) {
    @include flex-column;
  }
}
