@import "./variables.scss";
@import "./mixin.scss";

.card {
  box-shadow: 2px 4px 10px rgba(141, 42, 70);
  border: 1px solid $fourthColor;
  background-color: $thirdColor;
  max-height: calc(100% - 40px);
  width: calc(100% / 3 - 100px);
  transition: transform 0.2s;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  padding: 10px 10px;
  position: relative;
  min-height: 470px;
  display: flex;
  margin: 24px;
  &:hover {
    background-color: $thirdColor;
    transform: scale(1.05);
    transition: 0.2s;
  }

  .card__internal__description {
    transform: translate(-50%, -80%);
    transition: transform 0.2s;
    left: calc(100% / 2);
    top: calc(100% / 2);
    position: absolute;
    line-height: 20px;
    padding: 0 10px;
    display: none;
    width: 100%;
    height: 60%;
    p {
      color: $firstColor;
    }
    &:hover {
      display: block;
    }
    &:hover + .card__image {
      opacity: 0;
    }
  }
  h2 {
    margin: 10px 0px;
    color: $firstColor;
  }
  .card__external__informations {
    @include flex-around;
    margin: 15px 0px;
    height: 100%;
    width: 100%;
    .card__external__informations__item {
      background-color: $firstColor;
      @include flex-center;
      border-radius: 50px;
      width: fit-content;
      padding: 0px 12px;
      height: 30px;
      svg {
        color: $thirdColor;
        margin-right: 5px;
      }
      small {
        color: $thirdColor;
      }
    }
  }

  .card__image {
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    min-height: 300px;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
    z-index: 1;
    opacity: 1;
    &:hover + .card__internal__description {
      @include flex-column;
      transition: 0.2s;
    }
    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
      opacity: 0;
    }
  }

  .card__button__wrapper {
    @include flex-around;
    width: 100%;
    height: 20%;
    .card__cta {
      border: 1px solid $fourthColor;
      background-color: $thirdColor;
      color: $firstColor;
      font-family: $Lato;
      padding: 15px 15px;
      transition: 0.2s;
      margin: 10px 0px;
      font-size: 20px;
      width: 160px;
      z-index: 2;
      &:hover {
        background-color: $firstColor;
        border-radius: 10px;
        color: $thirdColor;
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }

  @media (max-width: $screen-lg-min) {
    width: calc(100% / 2 - 48px);
    margin: 16px;
  }

  @media (max-width: $screen-sm-min) {
    margin: 12px;
    width: 100%;
  }
}

.auth__card {
  width: calc(100% / 2 - 48px);
  @media (max-width: $screen-lg-min) {
    width: calc(100%);
    margin: 12px;
  }
}
