// color palette
$firstColor: #8d2a46;
$secondColor: #fcc8d1;
$thirdColor: #f3e8eb;
$fourthColor: #d27b7b;
$errorColor: #fd0d0d;
$bgColor: #f3d4c3;
// font family
$Lato: "Lato", sans-serif;
// breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 828px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
