// font color & style
$typographyColor: #7c96ab;
$buttonsColor: #b7b7b7;
$hoverColor: #edc6b1;
$bgColor: #f3d7c8;

$Lato: "Lato", sans-serif;
// breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 828px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
