@import "../../../assets/variables.scss";
@import "../../../assets/typography.scss";
@import "../../../assets/mixin.scss";

.wrapper__card__container {
  background-color: $bgColor;
  height: auto;
  margin: auto;
  width: 100%;
  h1 {
    color: $firstColor;
    padding: 40px;
  }
  .card__container {
    @include flex-start;
    padding: 10px 0px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    @media (max-width: $screen-lg-min) {
      @include flex-center;
      padding: 24px 12px;
    }

    @media (max-width: $screen-sm-min) {
      @include flex-center;
      padding: 12px;
    }
  }
}

.justify__content__center {
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-align: center;
  padding: 10px 0px;
  flex-wrap: wrap;
  display: flex;
}

.admin__wrapper__card__container {
  width: calc(100% - 30%);
  max-height: 100vh;
  overflow: auto;
  height: auto;
  margin: auto;
  h1 {
    padding: 80px;
    color: $firstColor;
  }
  @media (max-width: $screen-md-min) {
    width: calc(100% - 20%);
  }

  @media (max-width: $screen-sm-min) {
    width: calc(100% - 25%);
  }
}
