@import "../../../assets/variables.scss";
@import "../../../assets/typography.scss";
@import "../../../assets/mixin.scss";

.wrapper__card__container {
  background-color: $bgColor;
  height: auto;
  margin: auto;
  width: 60%;
  .card__container {
    @include flex-start;
    padding: 10px 0px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    @media (max-width: $screen-lg-min) {
      @include flex-center;
      padding: 24px 12px;
    }

    @media (max-width: $screen-sm-min) {
      @include flex-center;
      padding: 12px;
    }
  }
}

.justify__content__center {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}
