@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.detail__sweet__about__container {
  justify-content: space-between;
  height: fit-content;
  display: flex;
  margin: auto;
  width: 80%;
  @media (max-width: $screen-sm-min) {
    flex-direction: column;
    width: 90%;
  }
  @media (max-width: $screen-md-min) {
    flex-direction: column;
    width: 90%;
  }
  .detail__sweet__about__card__image {
    object-fit: contain;
    width: 45%;
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
  }
  .detail__sweet__about__card__info {
    width: calc(100% - 45%);
    @include flex-column;
    padding: 10px 0px;
    text-align: right;
    height: 100%;
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
    h2,
    h3,
    p {
      margin-bottom: 10px;
    }
    .detail__sweet__about__card__info__wrapper {
      justify-content: space-between;
      display: flex;
      width: 100%;
      div {
        width: calc(100% / 2 - 15px);
        margin-left: 15px;
        @media (max-width: $screen-lg-min) {
          width: calc(120% / 2);
          margin-left: 10px;
        }
      }
      div:first-child {
        text-align: left;
        @media (max-width: $screen-lg-min) {
          width: calc(100% - 40% - 10px);
        }
      }
    }
  }
}
