@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.auth__aside {
  justify-content: space-between;
  background-color: $thirdColor;
  width: calc(100% - 75%);
  flex-direction: column;
  width: fit-content;
  padding: 10px 0px;
  display: flex;
  height: 100vh;
  @media (max-width: $screen-md-min) {
    width: calc(100% - 80%);
    padding: 5px 0px;
    li {
      padding: 10px 5px;
    }
  }
  @media (max-width: $screen-sm-min) {
    width: calc(100% - 75%);
  }
  .auth__aside__generic__color {
    a {
      color: $fourthColor;
    }
  }
  li {
    a {
      &:hover {
        color: $firstColor;
      }
    }
  }
  .auth__aside__logout {
    width: 100%;
    p {
      color: $fourthColor;
      width: fit-content;
      padding: 10px 15px;
      transition: 0.4s;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: $firstColor;
        transition: 0.4s;
      }
      @media (max-width: $screen-md-min) {
        padding: 10px 5px;
      }
    }
  }
  .auth__aside__personal__area__color {
    p {
      color: $firstColor;
      font-weight: 600;
    }
  }
}

.auth__aside__nav__margin {
  margin-top: 50px;
}
