@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.auth__aside {
  background-color: $typographyColor;
  justify-content: space-between;
  width: calc(100% - 75%);
  flex-direction: column;
  width: fit-content;
  padding: 10px 0px;
  display: flex;
  height: 100vh;
  @media (max-width: $screen-md-min) {
    width: calc(100% - 80%);
    padding: 5px 0px;
    li {
      padding: 10px 5px;
    }
  }
  @media (max-width: $screen-sm-min) {
    width: calc(100% - 75%);
  }
  p {
    color: $bgColor;
  }
  li {
    a {
      color: $bgColor;
      &:hover {
        color: $hoverColor;
      }
    }
  }
  .auth__aside__logout {
    width: 100%;
    p {
      padding: 10px 15px;
      color: $bgColor;
      cursor: pointer;
      &:hover {
        color: $hoverColor;
      }
      @media (max-width: $screen-md-min) {
        padding: 10px 5px;
      }
    }
  }
}

.auth__aside__nav__margin {
  margin-top: 50px;
}
