@import "../../../assets/variables.scss";
@import "../../../assets/typography.scss";
@import "../../../assets/mixin.scss";

.form__wrapper {
  margin: auto;
  width: 50%;
  @media (max-width: $screen-xl-min) {
    width: 60%;
  }
}
.form__container {
  background-color: $firstColor;
  border-radius: 10px;
  padding: 20px 60px;
  max-height: 100vh;
  flex-wrap: wrap;
  overflow: auto;
  display: flex;
  margin: auto;
  width: 100%;
  h4,
  label,
  a {
    color: $fourthColor;
  }
  h4 {
    margin-bottom: 20px;
    text-align: center;
  }
  small {
    color: $errorColor;
    text-align: center;
    width: 100%;
  }
  .form__container__item {
    margin-bottom: 10px 0px;
    text-align: center;
    width: 100%;
    input {
      width: 100%;
    }
    a {
      margin-bottom: 20px;
      display: block;
      cursor: pointer;
      &:hover {
        color: $errorColor;
      }
    }
  }
  @media (max-width: $screen-lg-min) {
    padding: 10px 30px;
  }
  .form__container__item:first-child {
    margin-bottom: 10px;
  }
  .form__container__item:last-child {
    margin-top: 10px;
  }
}

.color {
  background-color: black;
  color: red;
}
