@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.wrapper__accordion {
  background-color: $fourthColor;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  display: flex;
  height: 100%;
  width: 100vw;
  .accordion {
    margin: auto;
    width: 70%;
    & :nth-child(even) {
      align-items: flex-end;
      @include flex-column;
    }
    & :nth-child(odd) {
      align-items: flex-start;
      @include flex-column;
    }
  }
}

.item {
  padding: 10px 20px;
  cursor: pointer;
  .accordion__title {
    color: $firstColor;
  }
  .accordion__description {
    transition: all 0.1s cubic-bezier(0, 1, 0, 1);
    color: $firstColor;
    margin-top: 10px;
    overflow: hidden;
    max-height: 0;
  }
  .accordion__description__show {
    transition: all 0.1s cubic-bezier(1, 0, 1, 0);
    color: $firstColor;
    max-height: 9999px;
    overflow: hidden;
    margin-top: 10px;
  }
}

// extra style
.active {
  color: #fff;
  transition: 0.5s;
}

.accordion__description__image__container {
  @include flex-center;
  margin: auto;
  height: 100%;
  width: 60%;
  .accordion__image {
    box-shadow: 2px 4px 10px rgb(210, 123, 123);
    border-radius: 10px;
    object-fit: cover;
    margin-top: 30px;
    height: 100%;
    width: 100%;
  }
  @media (max-width: $screen-lg-min) {
    width: 80%;
  }
  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}
