@import "../../../assets/variables.scss";
@import "../../../assets/mixin.scss";

.companyInfo {
  text-align: center;
  padding: 50px;
  margin: auto;
  width: 80%;
  h1 {
    font-size: 30px;
    color: $firstColor;
    margin-bottom: 30px;
  }
  p {
    line-height: 35px;
    color: $firstColor;
    font-size: 22px;
  }
  @media (max-width: $screen-lg-min) {
    @include flex-column;
    max-height: 100vh;
    overflow: auto;
    padding: 12px;
    height: 100vh;
    width: 70%;
  }

  @media (max-width: $screen-sm-min) {
    width: 60%;
  }
}
